html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family:"Montserrat","Arial",sans-serif;
    background-color:#FAFAFA;
    color: #737373;
    
}
.logo{
    display: block;
    margin-right: 117px;
}
.container{
    max-width: 1250px;
    padding: 0 100px;
    margin:0 auto;
}
/* SITEHEADER */
.site-header-wrapper{
    background-image: url(../images/cover.png);
    background-position: 70% 40%;
    background-size: 1440px auto;
    background-repeat: no-repeat;
    max-width: 1440px;
    margin: auto;
    position: relative;
    padding-bottom: 271px;
}
.site-header{
    margin-bottom: 116px;
    padding-top: 15px;
}
.sitenav{
    display: flex;
    align-items: center;
}
.sitenav-list{
     display: flex;
     list-style-type: none;
     margin: 0;
     padding: 0;
     margin-right: auto;
}
.sitenav-item{
    font-weight: 600;
    margin-right: 21px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
}
.sitenav-link{
    text-decoration: none;
    color: #737373;
}
.sitenav-link:hover{
    border-bottom:3px solid #737373;
}
.hamburger{
    border: none;
    background-color: transparent;
    outline: none;
}
.hamburger:hover{
    cursor: pointer;
    transform: scale(1.10);
}
.main-part{
    width: 460px;   
}
.main-part__title{
    font-weight: 800;
    margin: 0;
    margin-bottom: 35px;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #252B42;
}
.main-part__text{
    font-weight: 500;
    margin: 0;
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 30px;  
    letter-spacing: 0.2px;
}
.btn{
    padding: 10px 36px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
}
.get-btn{
    border: 1px solid transparent;
    background-color: #FFA62B;
    border-radius: 37px;
    color: #fff;
    transition: ease-in-out 0.3s;
}
.get-btn:hover{
    border: 1px solid #FFA62B;
    background-color: #fff;
    color: #FFA62B;
}
.learn-btn{
    border: 1px solid #00A0C1;
    background-color: #fff;
    border-radius: 37px;
    color: #00A0C1;
    transition: ease-in-out 0.3s;
}
.learn-btn:hover{
    background-color: #00A0C1;
    color: #fff;
}
/* CARDS */
.cards{
    display: flex;
    align-items: center;
    position: absolute;
    top: 75%;
    left: 6%;
}
.card{
    max-width: 328px;
    height: 210px;
    padding: 40px 20px 35px 30px;
    background: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.card-title{
    font-weight: bold;
    margin: 0;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-bottom: 10px;
}
.card-text{
    font-weight: 500;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.card-title::before{
    content: "";
    width: 47px;
    height: 40px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-bottom: 13px;
}
.card-title__digital::before{
    background-image: url(../images/case.png);
}
.card-title__national::before{
    background-image: url(../images/home.png);
}

.card-title__marketing::before{
    background-image: url(../images/window.png);
}

.card-active{
    background: #00A0C1;
    color: #fff;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.card-active h3{
    color: #fff;
}
.card:not(:last-child){
    margin-right: 30px;
}

/* MAIN */
main{
    padding-top: 192px;
}


/* STATS_SECTION */
.stats-section__container{
    margin-bottom: 205px;
}
.stats-info{
    width: 570px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}
.stats{
    display: flex;
    align-items: center;
}
.stats-info__title{
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}
.stats-info__text{
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
}
.stat{
    width: 230px;
    padding:30px 10px;
    background-color: #fff;
    text-align: center;
}
.stat:not(:last-child){
    margin-right: 38px;
}
.stats-cases__result{
    font-weight: bold;
    margin: 0;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}
.stats-cases__text{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
}
.stats-cases__result::before{
    content: "";
    display: block;
    width: 48px;
    height: 44px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-left: 80px;
    margin-bottom: 13px;
}
.stats-cases::before{
    background-image: url("../images/peoples-blue.png");
}
.stats-customers::before{
    background-image: url("../images/prognoss.png");
}
.stats-award::before{
    background-image: url("../images/shortcut.png");
}
.stats-done::before{
    background-image: url("../images/case.png");
}

/* ADVICE_SECTION */

.content{
    width: 590px;
    margin: auto;
    text-align: center;
    margin-bottom: 45px;
    padding-bottom: 80px;
}
.general__title{
    margin: 0;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}
.about-advice__text{
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.advice-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: flex-start;
}
.advice-item{
    width: 230px;
    background-color: #fff;
    padding: 29px;
}
.advice-item:not(:last-child){
    margin-right: 40px;
}
.advice-item__title{
    margin: 0;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
}
.advice-item__text{
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.advice-img{
    margin-left: -30px;
    margin-bottom: -35px;
}
/* SERVICE_SECTION */
.services{
    background-color: #fff;
    padding-top:100px;
    padding-bottom: 100px;
}
.service-part{
    display: flex;
    align-items: center;
}
iframe{
    width: 597px;
    height: 442px;
    margin-right: 121px;
}
.service-wrapper{
    width: 330px;
}
.service-trust__title{
    margin: 0;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42
}
.service-trust{
    margin-bottom: 50px;
}
.service-quick{
    margin-bottom: 30px;
}
.service-trust__text{
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.service-quick__title{
    margin: 0;
    margin-bottom: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
}
.service-jumps__title{
    margin: 0;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    display: flex;
    align-items: center;
    color: #252B42;
}
.service-jumps__title::before{
    content: "";
    margin-right: 20px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("../images/speedometr.png");
}
.service-quick__title::before{
    content: "";
    margin-right: 20px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("../images/people-icon.png");
}
.left{
    margin-left: 50px;
}
/* BRANDS */
.brands{
    width: 986px;
    margin: auto;
    padding: 0;
    padding-top:56px;
    padding-bottom: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img{
    display: block;
}
.brands-link{
    transition: ease 0.4s;
}
.brands-link:hover{
    transform: scale(1.10);
    opacity: 0.8;
    cursor: pointer;
}
/* SUBSCRIBE */
.email-section{
    position: relative;
}
.subscribe{
    display: flex;
    align-items: center;
    padding: 30px 50px;
    width: 986px;
    margin: auto;
    background-color: #16697A;
    border-radius: 2px;
    z-index: 990px;
    margin-bottom: 80px;
}
.subscribe__title{
    font-weight: bold;
    margin-right: 180px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
form{
    width: 450px;
    display: flex;
    align-items: center;
}
.input-subscribe{
    width: 333px;
    padding: 15px 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    background-color: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px 0 0 5px;
}
.form-btn{
    padding: 15px 22.5px;
    border: none;
    color: #fff;
    background: #FFA62B;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
}
.form-btn:hover{
    background-color: #fff;
    border: 1px solid #ffa62b;
    color: #ffa62b;
    cursor: pointer;
}
.blue-line{ 
    width: 1250px;
    position: absolute;
    top:120px;
    left:0;
    margin: auto;
    height: 77px;
    background: #252B42;
    z-index: -1;
}

/* CONTACT US */
.contact-us__container{
    margin-bottom: 148px;
}
.contact-request{
    display: flex;
    align-items: center;
    text-align: center;
}
.contact{
    width: 328px;
    padding: 50px;
    background-color: #fff;
}
.link__img::before{
    content: "";
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: block;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 80px;
}
.link__img-phone::before{
    background-image: url("../images/dialpad-dark.png");
}
.link__img-location::before{
    background-image: url("../images/location.png");
}
.link__img-telegram::before{
    background-image: url("../images/messenger-dark.png");
}
.contact__link{
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
}
.contact__title{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;  
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
}
.contact-btn{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ffa62b;
    letter-spacing: 0.2px;
    color: #FFA62B;
    border-radius: 5px;
    transition: ease 0.3s;
}
.contact__active{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #252B42;
    color: #fff;
}
.contact__active .contact__link{
    color: #fff;
}
.contact__active .active-btn{
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    transition: ease 0.3s;

}
.contact__active .active-btn:hover{
    color: #252b42;
    background-color:#fff;
    border: 1px solid #252b42;
    cursor: pointer;
    transform: scale(1.10);
}
.contact-btn:hover{
    background-color: #FFA62B;
    border: 1px solid #FFF;
    color: #fff;
    cursor: pointer;
    transform: scale(1.10);
}

/* AGENCY PART */
.agency{
    background-color: #fff;
}
.agency-part{
    padding-top:40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.agency__info-title{
    margin: 0;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}
.agency__info-text{
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.part-btn{
    background-color:#FFA62B;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: ease 0.3s;
}
.part-btn:hover{
    transform: scale(1.10);
    background-color: #fff;
    border: 1px solid #ffa62b;
    color: #ffa62b;
    cursor: pointer;
}

/* SITE_FOOTER */

.site-footer{
    background-color: #16697A;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-list-wrapper{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: flex-start;
}
.footer-list{
    width: 180px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer-list:not(:last-child){
    margin-right: 50px;
}
.footer-item__title{
    margin: 0;
    margin-bottom: 20px;
}
.footer-link{
    text-decoration: none;
    color: #fff;
    transition: ease 0.3s;
}
.footer-item{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.footer-link:hover{
    text-decoration: underline;
    color: #ffa62b;
}